body {
  background-color:  #f2f2f2;
  position: relative;
  top: 150px;
}

/* Card  */
main {
  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-content: center;
}

.car {
 margin: 30px;
  padding:30px;
  width: 250px;
  height: 400px;
}

.sedans {
  background-color: #e38826;
}

.suvs {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
