body {
  background-color:  #f2f2f2;
  position: relative;
  top: 150px;
  font-size: 15px;
}

h3 {
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  font-size: 32px;
  color: #f2f2f2;
  opacity: 0.9;
}

p {
  font-family: "Lexend Deca";
  color: #ffffff;
  opacity: 0.7;
}

/* Card  */
main {
  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-content: center;
}

.car {
  padding:30px;
  width: 230px;
  height: 400px;
}

.sedans {
  background-color: #e38826;
  border-top-left-radius: 2.5%;
  border-bottom-left-radius: 2.5%;
}

.suvs {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
  border-top-right-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
